body {
    padding: 0;
    margin: 0;   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff0000;
}

#container {
    margin: 2%;
    border: 1px dashed #ff62f2;    
}

#hoofdpagina {
    display: flex;
    width: 65%;
    border: 1px dashed rgb(255, 111, 212);
}

#links {
    width: 70%;
    background-color: rgb(222, 176, 208);
    padding: 5% 2% 0% 2%;
}

#rechts {
    width: 30%;
}

img {
    width: 135%;
    margin-left: 0%;
}

#footer {
    background-color: #ff5df7;
    color: #DDD;
    text-align: right;
}
