body {
    color: rgb(255, 255, 255);
    font-size: 4,5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    background-color: rgb(4, 201, 250);
    background-image:url(../oefenen/images/groningen.jpg) ;
    width: 400;
    background-size: cover;

}
h1 { color: rgb(2, 225, 255);}
h2 { color: rgb(0, 217, 255);}
div {
    background-color: rgb(0, 0, 0);
    width: fit-content;
    padding: 5px;
    border: 5px solid rgb(66, 85, 255);
}
.highlight{
    color:chocolate;
}
.belangrijk {
    color: rgb(0, 217, 255);
d

